*{
    padding:0%
}

body{
    background-color:#F0F0F0;
}

header{
    background-color:#363636;
}

footer{
    background-color:#363636;
}

#contenu{
    background-color:#E0E0E0;
    margin:auto;
}

header,footer{
    width:100%;
}

nav,#contenu{
    width:1200px;
}

header a{
    color:rgb(255,255,255) ;
    text-decoration:none;
}

header a:hover{
    color:#204D9B;
}

header h1,header h2{
    text-align:center;
}

nav{
    height:50px;
    margin:auto;
    text-align:center;
    font-weight:bold;
    margin-top:20px;
}

nav a{
    background-color:#363636;
    display:inline-block;
    width:22%;
    line-height:50px;
}


nav a:hover{
    background-color:#204D9B;
    color:#FFF;
}

footer{
    color:white ;
    height:35px;
    text-align:center;
    position:fixed;
    bottom:0;
}

#contenu{
    padding:20px;
}

#contenu div{
    display:inline-block;
    vertical-align:top;
}

#acceuil_gauche{
    width:780px;
}

#acceuil_droite{
    width:400;
}

#acceuil_gauche p{
    margin:10px 50px /*10px 50px*/;
    text-align:justify;
}

#contenu a{
    color:#000;
    font-weight:bold;
    text-decoration:none;
}

#contenu a:hover{
    color:#204D9B;
    text-decoration:underline;
}

#acceuil_droite img{
    border-radius:20px;
    box-shadow:15px 10px 20px black;
}

#acceuil_realisations .derniere_realisations{
    margin:10px 0px;
    border-bottom:1px solid black;
}

#acceuil_droite ul{
    text-align:left;
    font-style:italic;
}

td,th{
    border:1px solid black;
}

table{
    border-collapse:collapse;
}

th:first-child{
    width:375px
}

th:last-child,th:nth-child(2){
    width:150px
}

.centre{
    text-align:center;
}